@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
 --nwhite: hsl(148, 38%, 91%);
 --green: hsl(169, 82%, 27%);
 --red: hsl(0, 66%, 54%);

 --white: hsl(0, 0%, 100%);
 --lgreen: hsl(186, 15%, 59%);
 --dgreen: hsl(187, 24%, 22%);
}

body{
    background-color: var(--lgreen);
}