@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
 --nwhite: hsl(148, 38%, 91%);
 --green: hsl(169, 82%, 27%);
 --red: hsl(0, 66%, 54%);

 --white: hsl(0, 0%, 100%);
 --lgreen: hsl(186, 15%, 59%);
 --dgreen: hsl(187, 24%, 22%);
 --font: "Karla", sans-serif;
}

body{
    background-color: var(--lgreen);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
}

div#container{
    background-color: var(--white);
    width: 360px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div#content{
    width: 335px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

h1{
    margin: 10px;
}

div#name{
    margin: 10px;
}

input#firstname{
    width: 295px;
    margin: 10px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--green);
}

input#lastname{
    width: 295px;
    margin: 10px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--green);
}

div#email{
    margin: 10px;
}

input#emailaddress{
    width: 295px;
    margin: 10px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--green);
}

span{
    display: block;
}

div#querytype{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

div.radiobox{
    padding: 10px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--green);
}

div#msgbox{
    margin: 10px;
}

textarea#messagebox{
    width: 295px;
    height: 300px;
    margin: 10px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: var(--green);
}

div#boxconsent{
    margin: 10px;
    display: flex;
}

input#consent{
    margin: 10px;
    padding: 5px;
}

div#boxsubmit{
    margin: 20px;
}

input#submit{
    width: 300px;
    margin: 5px;
    padding: 20px;

    border: 1px solid var(--green);
    border-radius: 10px;
    background-color: var(--green);
    color: var(--nwhite);
    font-size: 18px;
    cursor: pointer;
}

input#submit:hover{
    background-color: var(--lgreen);
    color: var(--dgreen);
    transition: 0.5s;
}